<div>
    <select #select multiple size="10" [(ngModel)]="selectFilter">
        <ng-container *ngFor="let item of listLang">
            <option [value]="item[1]">{{item[0]}}</option>
        </ng-container>
    </select>
    <div><span>автор</span><input type="text" [(ngModel)]="authorFilter"></div>
    <div><span>название книги</span><input type="text" [(ngModel)]="titleFilter"></div>
    <div><span>тема</span><input type="text" [(ngModel)]="subjectFilter"></div>
    <button (click)="reset(); search('1', true)">искать</button>
    <app-items-section [itemsList]="responseData"></app-items-section>
    <app-paginator (loadPage)="search($event)" [countPages]="countPages" [changeSimulate]="changeSimulate"></app-paginator>
</div>