<footer>
    <div class="main-container">
      <div class="grid-container">
        <div class="grid-item">телефон +77777777777</div>
        <div class="grid-item">почта sda&#64;mail.ru</div>
        <div class="grid-item">о нас</div>
        <div class="grid-item">о вас</div>
        <div class="grid-item">какой-то еще текст</div>
        <div class="grid-item">какой-то еще текст</div>
        <div class="grid-item">какой-то еще текст</div>
        <div class="grid-item">какой-то еще текст</div>
        <div class="grid-item">какой-то еще текст</div>
        <div class="grid-item">какой-то еще текст</div>
        <div class="grid-item">какой-то еще текст</div>
        <div class="grid-item">какой-то еще текст</div>
        <div class="grid-item">какой-то еще текст</div>
      </div>
      <div><img src="../../assets/Book.svg" alt="книга"></div>
    </div>
</footer>