<ng-container *ngIf="booksList != undefined">
    <ng-container *ngFor="let item of booksList">
        <div class="main-container">
            @if(item.formats['image/jpeg']) {
            <div class="image-container" (click)="redirectTo(item.id)"><img [src]="item.formats['image/jpeg']" /></div>
            }
            @else {
            <div class="image-container" (click)="redirectTo(item.id)"><img src="../../../../assets/defaultBook.png" />
            </div>
            }
            <div class="info-container">
                <ul>
                    <li><b>Название</b>:&#10;{{item.title}}</li>
                    <li><b>Авторы</b>:&#10;{{item.authorsFormat}}</li>
                </ul>
                <div class="add-book-conteiner">
                    <button class="button button-add" [disabled]="!item.add ? false : true" (click)="addBookYourself(item)">{{!item.add ? 'добавить' : 'добавлено'}}</button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>