@import '../../../../styles';

.main-container {
    @include main-block;
    display: flex;
    padding: 20px;
    font-size: 20px;
    flex-direction: column;
    width: fit-content;
}

.item-align-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image-container {
    display: flex;
    justify-content: space-between;
}

.arrow-block {
    width: fit-content;
    position: fixed;
    left: 15px;
    img {
        width: 80px;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;

    ul {
        margin: 0;
        padding-left: 0;
        list-style-type: none;

        li {
            margin-bottom: 15px;
            white-space: pre-wrap;
        }

    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container>* {
    margin-right: 15px
}

.button-container button:last-child {
    margin-right: 0
}

.button {
    @include button(auto);
    font-size: 16px;
    padding: 8px;
    width: 98.0312px;

    a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 8px;
        cursor: context-menu;
    }
}

.button-read,
.button-download {
    padding: 0;
    border-radius: 5px;
}

.button-read:hover,
.button-download:hover {
    @include buttonHover;
    padding: 0;
    border-radius: 5px;
    a {
        padding: 7px;
    }
}

.button-add:disabled {
    border: 2px solid green;
    color: black;
    padding: 7px;
    background-color: $buttonColorActive;
}

.button-add:not(:disabled):hover {
    @include buttonHover;
    padding: 7px;
}


.add-book-conteiner {
    align-self: end;
}

.image-container {
    display: flex;

    img {
        width: 200px;
        max-height: 300px;
    }
}