@import '../../../styles';

header {
    position: fixed;
    background-color: $headerFooterBackColor;
    padding: 1px;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
}
a.active {
    color: #50299b;
}

ul {
    margin: 12px 0;
    padding-left: 19px;
    display: flex;
    list-style-type: none;

    li {
        margin-right: 15px;
        
    }
    
}

a {
    padding: 4px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: background-color 0.7s ease;
    border-radius: 8px;
}

a:hover {
    border-radius: 8px;
    background-color: #e3cdbb;
    color: #50299b;
}
